<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Task 3</title>
  </head>
  <body>
    <div>
      <h1>Welcome to Task 3</h1>
      <ul>
        <li>You have connected to host: {{hostname}}.</li>
        <li>This website has been visited {{hits}} times.</li>
      </p>
    </div>
    <div>
      <h2>This is your history</h2>
      <ul id="history">

      </ul>
    </div>
    <script src="http://assets.localhost/pouchdb.min.js"></script>
    <script type="text/javascript">
      var db = new PouchDB('http://database.localhost/mydb');
      var data = {
        hostname: "{{hostname}}",
        hits: {{hits}}
      };

      console.log('Saving into pouchdb %o', data)
      db.post(data);

      db.allDocs({
        include_docs: true,
      }).then(function (result) {
        var ul = document.getElementById("history");
        for (var i = 0; i < result.rows.length; i++) {
          var doc = result.rows[i].doc;
          var li = document.createElement("li");
          li.appendChild(document.createTextNode('You visited ' + doc.hostname + ' and got ' + doc.hits+ ' hits'));
          ul.appendChild(li);
        }
      }).catch(function (err) {
        console.log(err);
      });
    </script>
  </body>
</html>
